@font-face {
    font-family:"Pokemon GB";
    src: url("../fonts/ptype.ttf") format("truetype");
  }

  @font-face {
    font-family:"Arcade";
    src: url("../fonts/arcade.ttf") format("truetype");
  }

html, body {
    margin: 0;
    height: 100%;
}

body {
    text-align: center;
    position: relative;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    /* position: relative; */
    overflow: hidden;
    background: url("../media/board.png") no-repeat center center fixed;
    background-size: 100% 100%;
    
}

#startmodal {
    display: none;
    position: relative;
    background: url("../media/background_mountains2.png") no-repeat center center fixed;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* height: 100vh; */
    /* width: 100vw; */
    z-index: 1;
    overflow: hidden;
    background-position: 0 0;
    background-repeat: -x;
    animation: animate 15s ease-out infinite;
}
@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.startmod-content { 
    text-align: center;
    background-color: rgb(207, 231, 248);
    background-size: cover;
    margin: 70px auto 0 auto;
    height: 40%;
    width: 55%;
}

.startmsg {
    font-family: "Arcade";
    font-size: 100px;
    color: rgb(161, 61, 45);
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    /* -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5, */
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}

button:focus {
    outline: none;
}

.gamemodebtn {
    font-size: 25px;
    font-family: "Pokemon GB";
    letter-spacing: .5px;
    background-color: rgb(207, 231, 248);
    border: none;
    animation: glowing 1300ms infinite;
}

@keyframes glowing {
    0% { color: black;}
    25% {color: red;}
    50% { color: gold;}
    75% {color: red;}
    100% { color:  black;}
    }


    
    #gamemodal, #textmodal, #endmodal {
        display: none;
        top: 40%;
        position: relative;
        font-family: "Pokemon GB";
        background: url("../media/text_box.png");
        background-color: white;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 1;
        height: 15%;
        width: 40%;
        margin: 0 auto;
        overflow: hidden;
        /* border-radius: 20px; */
        /* border: 1px solid black; */
    }

    #textmodal {
        /* display: none; */
        top: 40%;
        position: relative;
        font-family: "Pokemon GB";
        background: url("../media/text_box.png");
        background-color: white;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 1;
        height: 15%;
        width: 40%;
        margin: 0 auto;
        overflow: hidden;
    }

    .textmod-btn, .endmod-btn {
        position: absolute;
        right:    10%;
        bottom:   15%;
        border: none;
        animation: blinking 1.2s infinite;
        font-size: 20px;

    }

    @keyframes blinking{
        0%{     color: #000;    }
        49%{    color: #000; }
        60%{    color: transparent; }
        99%{    color:transparent;  }
        100%{   color: #000;    }
    }

    #scoreboard {
        display: none;
        font-family: "Pokemon GB";
        height: 28%;
        position: relative;
        background: url("../media/scoreboard.png");
        background-size: 100% 100%;
        width: 40%;
        top: 4%;
        margin: 0 auto;
        /* padding-top: 3%; */
        border-radius: 10px;
        overflow: hidden;
    }

    #scoreboard2 {
        display: none;
        font-family: "Pokemon GB";
        height: 28%;
        position: relative;
        background: url("../media/scoreboard.png");
        background-size: 100% 100%;
        width: 40%;
        top: 4%;
        margin: 0 auto;
        /* padding-top: 3%; */
        border-radius: 10px;
        overflow: auto;
    }
    

    .time {
        position: relative;
        margin-top: 17%;
    }

    .p1score {
        position: relative;
        margin-top: 8%;
    }
    
    #board {
        display: none;
        position: absolute;
        margin: 0 auto;
        bottom: 3.5%;
        left: 5%;
        height: 43%;
        width: 90%;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 5%;
        border: 1px solid black;
        /* grid-template-areas: "" */
    }

    .hole {
        background: url("../media/hole3.png") bottom center no-repeat;
        background-size: cover;
        background-position: 50% 40%;
        overflow: hidden; 
        position: relative;
        z-index: 2;
        border: 1px solid black;
    }

    .hole:after {
        display: block;
        background: url('../media/hole3.png') bottom center no-repeat;
        background-size: cover;
        content: '';
        width: 100%;
        height: 5%;
        position: absolute;
        z-index: 1; 
        bottom: -30px;
      }

    .diglett {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
        /* bottom: 0; */
        background: url("../media/diglett.png") top center no-repeat;
        background-size: cover;
        background-position: 50% 45%;
        top: 100%;
        /* overflow: visible; */
        transition: all 5s;
        /* z-index: 1; */
        border: 1px solid black;
    }

    .hole.popup .diglett {
        top: 0;
    }

    .hole10 {
        grid-column: 5/6;
        grid-row: 3/4;
    }

    .hole9 {
        position: relative;
        grid-column: 4/4;
        grid-row: 3/4;
        right: 60%;
    }

    .hole8 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .hole7 {
        grid-column: 6/7;
        grid-row: 2/3;
    }

    .hole6 {
        position: relative;
        left: 35%;
        grid-column: 4/5;
        grid-row: 2/3;
    }

    .hole5 {
        position: relative;
        right: 30%;
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .hole4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .hole3 {
        grid-column: 5/6;
        grid-row: 1/2;
    }
    .hole2 {
        position: relative;
        right: 60%;
        grid-column: 4/5;
        grid-row: 1/2;
    }
    .hole1 {
        grid-column: 2/3;

    }
    